<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" ng-controller="AuthController">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Авторизация</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="authorizationForm" id="login-form" ng-submit="login()" class="text-center">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="visually-hidden" for="username">Имя пользователя:</label>
                        <input name="username" type="text" id="username" ng-class="authorizationForm.username.$valid ? 'is-valid' : 'is-invalid'" ng-model="credentials.username" class="form-control mb-2" required placeholder="Логин">
                    </div>
                    <div class="form-group">
                        <label class="visually-hidden" for="password">Пароль:</label>
                        <input name="password" type="password" id="password" ng-class="authorizationForm.password.$valid ? 'is-valid' : 'is-invalid'" ng-model="credentials.password" class="form-control mb-2" required placeholder="Пароль">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" id="login-button" class="btn btn-primary" ng-disabled="authorizationForm.$invalid || requestProcessed">
                        <span ng-show="requestProcessed" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span ng-show="requestProcessed" class="visually-hidden" role="status">Processing...</span>
                        <span>Войти</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>