<div class="modal fade" id="changePasswordModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
    <div ng-controller="PasswordChangeController" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="changePasswordLabel">Смена пароля</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <form name="myForm" class="needs-validation" novalidate>
                    <div class="modal-body">
                    <!-- Форма смены пароля -->
                        <div class="form-group">
                            <label for="new_password">Новый пароль:</label>
                            <input type="password" class="form-control" ng-class="myForm.password.$valid && password === confirmPassword ? 'is-valid' : 'is-invalid'" id="new_password" name="password" ng-model="password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Подтверждение пароля:</label>
                            <input type="password" class="form-control" ng-class="myForm.confirmPassword.$valid && password === confirmPassword ? 'is-valid' : 'is-invalid'" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" required>
                        </div>
                        <div ng-class="{'has-error': myForm.password.$invalid && myForm.confirmPassword.$invalid}">
                            <p class="help-block alert alert-danger" ng-show="myForm.password.$error.required || myForm.confirmPassword.$error.required">Вы заполнили не все поля!</p>
                            <p class="help-block alert alert-danger" ng-show="myForm.password.$valid && myForm.confirmPassword.$valid && password !== confirmPassword">Пароли не совпадают</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="reset()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button ng-click="apply()" class="btn btn-danger" ng-disabled="myForm.$invalid || password != confirmPassword || requestProcessed">
                            <span ng-show="requestProcessed" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span ng-show="requestProcessed" class="visually-hidden" role="status">Processing...</span>
                            <span>Сменить пароль</span>
                        </button>
                    </div>
                </form>
        </div>
    </div>
</div>